@import './palette';

.profile {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto';

  .sidebar {
    position: relative;
    max-width: 499px;
    min-width: 400px;
    min-height: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.female {
      background-image: url('../assets/woman.png');
    }

    &.male {
      background-image: url('../assets/man.png');
    }
  }

  .wrap {
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 30px;
      margin-top: 30px;

      .homeLink {
        display: flex;
        align-items: center;
        color: $color1;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 17px;
          background-image: url("../assets/arrow.png");
          background-repeat: no-repeat;
          margin-right: 10px;
        }
      }
    }

    .content {
      display: flex;
      width: 100%;

      &.center {
        justify-content: center;
      }

      .widget {
        margin-top: 77px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          text-transform: uppercase;
          color: $color5;
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 4px;
          margin-bottom: 50px;
        }

        .module {
          position: relative;
          height: 612px;

          .score {
            background-color: $color4;
            color: $color2;
            font-weight: 500;
            font-size: 24px;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -90px;
            transform: translateY(50%);
          }

          .progress {
            position: relative;
            background-color: $color6;
            width: 56px;
            height: 100%;
            border-radius: 28px;
            overflow: hidden;

            .fill {
              position: absolute;
              bottom: 0;
              background-color: $color4;
              width: 100%;
            }
          }

          .label {
            display: flex;
            align-items: center;
            position: absolute;
            width: 150px;
            left: 70px;
            text-transform: uppercase;
            color: $color3;
            font-size: 12px;
            font-weight: 500;

            &::before {
              content: '';
              display: block;
              width: 50px;
              height: 2px;
              background-color: $color7;
              margin-right: 14px;
            }

            &.level1 {
              bottom: 5%;
            }

            &.level2 {
              bottom: 38%;
            }

            &.level3 {
              bottom: 66%;
            }

            &.level4 {
              bottom: 80%;
            }

            &.level5 {
              bottom: 95%;
            }
          }
        }
      }
    }
  }

  .errorMessage {
      position: fixed;
      top: 10px;
      right: 20%;
      width: 240px;
      padding: 10px 20px;
      color: $color2;
      background-color: $color5;
      opacity: 0.8;

      .clearButton {
          position: absolute;
          right: -5px;
          top: -5px;
          width: 20px;
          height: 20px;
          font-weight: bold;
          border-radius: 50%;
          border: 2px solid $color5;
          background-color: $color2;
      }
  }
}
